<%= form_for [@checkin, @food] do |f| %>
  <div class="description">
    <%= f.label :description, "What did you order?" %>
    <%= f.text_field :description, :placeholder => "Pizza..." %>
  </div>
  <div class="rating">
    <label>How did you like it?</label>
    <%= f.label :rating, :value => -1, :class => "bad smiley" do %>
      <%= f.radio_button :rating, -1 %>
    <% end %>
    <%= f.label :rating, :value => 0, :class => "fine smiley" do %>
      <%= f.radio_button :rating, 0 %>
    <% end %>
    <%= f.label :rating, :value => 1, :class => "great smiley" do %>
      <%= f.radio_button :rating, 1 %>
    <% end %>
  </div>
  <%= f.submit "Save", :class => "yellow button" %>
<% end %>
