<%= form_for [@checkin, @food] do |f| %>
  <%= hidden_field_tag :redirect_url, params[:fsqCallback] %>
  <%= f.hidden_field :checkin_id %>
  <div class="description">
    <%= f.label :description, "What did you order?" %>
    <%= f.text_field :description, :placeholder => "Pizza..." %>
  </div>
  <div class="rating">
    <label>How did you like it?</label>
    <% [[:bad, -1], [:fine, 0], [:great, 1]].each do |feeling, value| %>
      <%= f.label :rating, :value => value, :class => "#{feeling} smiley" do %>
        <%= image_tag "smiley_#{feeling}.png" %>
        <%= image_tag "smiley_#{feeling}_yellow.png", :class => "selected" %>
        <%= f.radio_button :rating, value %>
      <% end %>
    <% end %>
  </div>
  <%= f.submit "Save", :class => "yellow button" %>
<% end %>
